@import "tailwindcss";

@theme   {
  --color-brand-blue: rgb(0, 132, 197);
  --color-star-gold: rgb(249, 188, 23);
  --color-bg-white: #FFFFFF;
  --color-bg-card: #f5faff;  /* light mode card background */
  --color-bg-icon: #edf4ff;  /* light mode icon background */
  --color-txt-black:#000000;

  --spacing-pd-lg:6rem;
  --spacing-pd-md:4rem;
  --spacing-pd-sm:2rem;

  --text-xxl:3.5rem;
  --text-xl:1.25rem;
  --text-lg:1.125rem;
  --text-md:1rem;
  --text-sm:0.875rem; 

}
:root {
  font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}